$sapphire-blue: #0C6291;
$heliotrope-gray: #9C92A3;
$baby-powder: #F8F9F1;
$background: #f1f1ef;
$antique-ruby: #88292F;
$bistre: #2E1E0F;
$red: #BC3841;

$theme-colors: (
    "primary": $sapphire-blue,
    "secondary": $heliotrope-gray,
    "danger": $red,
);
